{% extends 'global.html' %}
{% block title %}Reporte de disponibilidad {{marketplace_instance}}{% endblock %}
{% load static %} <!--Módulo para static files. The load static tag does not load static files. It’s purpose is to allow you to use the static tag in your template.-->

{% block supbar_btns %}
<div id = "report_btns" style="position: relative; right: 10%;">
    <form method="POST">
        {% csrf_token %}
        <button name="initiate_report">Iniciar reporte</button>
        {% if incidence_groups %}
            <button name="export_report">Exportar reporte</button>
        {% endif %}
    </form>
</div>
{% endblock %}


{% block content %}
<h1 style="text-align: center;">Reporte de disponibilidad<br>{{marketplace_instance}} N°{{last_incidence_report.report_number}}</h1>

<p style="text-align: center;"><em>{{last_incidence_report.report_date_time}}</em></p>

<div style="display: flex; text-align: center; justify-content: space-evenly;">
    <h2>Productos<br>revisados: <br>{{last_incidence_report.inspected_products}}</h2>

    <h2>Productos<br>no disponibles: <br>{{not_available_products_count}}</h2>
</div>

{% if not_scrapeable_products %}
    <div style="background-color: #F69F9F; display: flex; width: 90%; margin-left: auto; margin-right: auto; padding: 10px; justify-content: space-between; align-items: center; height: 0.5em;">
        <p>El software no pudo evaluar algunos productos</p>
        <button id="not_scrapeable_products_btn">Ver productos</button>
    </div>
{% endif %}

{% if not_existing_products_in_local %}
    <div style="background-color: #f0d966; display: flex; width: 90%; margin-left: auto; margin-right: auto; padding: 10px; justify-content: space-between; align-items: center; height: 0.5em;">
        <p>Estos productos existen en {{marketplace_instance}} pero no están en esta aplicación</p>
        <button id="not_existing_products_in_local_btn">Ver productos</button>
    </div>
{% endif %}

{% if not_available_incidences %}
    <p style="text-align: center;"><em>Se encontraron las siguientes incidencias</em></p>
    {% for incidence in not_available_incidences %}
        <br>
        <div style="width: 90%; margin-left: auto; margin-right: auto; display: flex; justify-content: space-between; border: 2px solid black; padding: 10px;">
            <div>
                <h3>Datos del producto</h3>
                <p>Sku: {{incidence.incidence_group_id.product_id.sku}}</p>
                <p>Sku Marketplace: {{incidence.incidence_group_id.product_id.sku_marketplace}}</p>
                <p>Nombre: {{incidence.incidence_group_id.product_id.product_name}}</p>
                <p><a href={{incidence.incidence_group_id.product_url}} target="_blank">Link del producto</a></p>
            </div>

            <div>
                <h3>Incidencia/s</h3>
                <p>Producto no disponible para la venta, <br> a pesar de tener stock</p>
                <p>Stock: {{incidence.stock}}</p>
            </div>
        </div>
    {% endfor %}

{% else %}
    <p style="text-align: center;"><em>No se detectaron incidencias</em></p>
{% endif %}

{% endblock %}

{% block modal %}
<!-- not-scrapeable-products-modal -->
<div id="not-scrapeable-products-modal" class="modal">

    <div class="modal-content">
        <p>El análisis de disponiblidad no pudo acceder a los siguientes productos para revisión, consultar con un desarrollador</p>
        <table style ="text-align: center;">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Respuesta HTTP</th>
                </tr>
            </thead>
            
            <tbody>
                {% for product in not_scrapeable_products %}
                    <tr>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.http_status_code }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- not-existing-products-in-local-modal -->
<div id="not-existing-products-in-local-modal" class="modal">
    <div class="modal-content">
        <h2>Estos productos existen en {{marketplace_instance}} pero no están en esta aplicación:</h2>
        <h3>Mostrando {{not_existing_products_in_local.count}} productos:</h3>
        {% for product in not_existing_products_in_local %}
            <br>
            <p><b>SKU:</b> {{ product.sku }}</p>
            <p><b>Sku Marketplace:</b> {{ product.sku_marketplace }}</p>
            <p><b>Nombre:</b> {{ product.product_name }}</p>
            <p><a href={{product.product_url}} target="_blank">Link del producto</a></p>
            <br> 
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block page_scripts %}
<script src="{% static 'incidence_report.js' %}"></script>
{% endblock %}

